.root
	{
	 -fx-background-color: "#000000";
	 -fx-pref-height: 125px;
	 -fx-pref-width: 350px;
	}

#rootTwo
	{
	 -fx-background-color: "#000000";
	 -fx-pref-height: 512px;
	 -fx-pref-width: 512px;
	}

#rootTwo .label
	{
		-fx-font-size: 11px;
		-fx-font-family: "Lucida Console";
		-fx-text-fill: "#EEEEEE";
		-fx-alignment: center-left;
	}

.label
	{
		-fx-font-size: 24px;
		-fx-font-family: "Lucida Console";
		-fx-text-fill: "#EEEEEE";
		-fx-alignment: center-right;
	}
	
.button
	{
		-fx-cursor: hand;
	}
