.root
	{
		-fx-background-color: "#0000FF";
		-fx-font-family: "Lucida Sans Typewriter";
		-fx-font-weight: bold;

	}
.label

	{
		-fx-font-weight: bold;
		-fx-font-size: 24.0px;
		-fx-alignment: center;
		-fx-text-fill: "#87CEFA";
		-fx-font-family: "Lucida Sans Typewriter";
	}